{# Home page template extending 'base.j2' template #}

{% extends 'base.j2' %}

{# Here put any app speficic css styling #}
{% block app_speficic_styling %}
{% endblock app_speficic_styling %}

{# Here put any page specific css styling #}
{% block page_specific_styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-login.scss.css')}}">
{% endblock page_specific_styling %}

{# Here put page content #}
{% block content %}
<div class="main">
    <div class="formdiv">
    <h2>Login</h2>
        <form>
            <label for="login">Login</label>
            <input type="text" class="login" name="login" placeholder="Username...">
            <label for="password">Password</label>
            <input type="password" class="pass" name="pass" placeholder="Password...">
            <div class="options">
                <div class="remember">
                    <input type="checkbox" class="check" name="check">
                    <span>Remember me</span>
                </div>
                <div class="forget">
                    <a href="#">Forget password?</a>
                </div>
            </div>
            <div class="submit">Login</div>
        </form>
    </div>
    <div class="image">
        <img src="{{ url_for('static', filename='img/login-poster.jpg') }}">
    </div>
</div>
{% endblock content %}

{% block page_specific_scripts %}
{% endblock page_specific_scripts %}
