{# Home page template extending 'base.j2' template #}

{% extends 'base.j2' %}

{# Here put any page specific css styling #}
{% block page_specific_styling %}
{% endblock page_specific_styling %}

{# Here put page content #}
{% block content %}
{% endblock content %}
