{# Home page template extending 'base.j2' template #}

{% extends 'base.j2' %}

{# Here put any page specific css styling #}
{% block page_specific_styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.scss.css')}}">
{% endblock page_specific_styling %}

{# Here put page content #}
{% block content %}
{% include "components/header.j2" %}
<main>
    <section class="news">
        <h2>News</h2>
        <article class="news">
            <div class="wrapper">
                <div class="container">
                    <ul class="roll">
                        {% for news in news_list -%}
                            <li class="tile">
                                <a href=""><img class="banner" src="{{url_for('media.public', filename=news.banner_path)}}"></a>
                                <div class="overlap">
                                    <h4 class="title"><a href="">{{news.title}}</a></h4>
                                    <p class="description">{{news.description}}</p>
                                </div>
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
            <img src="" class="btn left">
            <img src="" class="btn right">
        </article>
        <article class="premieres">
            <h3>Latest premieres</h3>
            <div class="wrapper">
                <div class="container-padding">
                    <div class="container">
                        <ul class="roll">
                            {% for anime in premiere_list -%}
                                <li class="tile">
                                    <a href=""><img class="poster" src="{{url_for('media.public', filename=anime.poster_path)}}"></a>
                                    <div class="overlap">
                                        <h4 class="title"><a href="">{{anime.title}}</a></h4>
                                    </div>
                                </li>
                            {%- endfor %}
                        </ul>
                    </div>
                </div>
                <img src="" class="btn left">
                <img src="" class="btn right">
            </div>
        </article>
    </section>
</main>
{% endblock content %}

{% block page_specifi_scripts %}
<script src="{{ url_for('static', filename='js/home/sizing.js') }}" defer></script>
{% endblock page_specifi_scripts %}
