@import "colors.scss";

input[type="text"], input[type="password"]{
    margin-bottom: 30px;
    padding: 0.4em 0.7em;
    font-size: 1.1rem;
}

.main{
    width: 80%;
    display: flex;
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 25px 5px #{$main-dark-color};
    background-color: $main-dark-color;

    .formdiv, .image{
        width: 50%;

        .login, .pass{
            display: block;
            width: 100%;
            border-radius: 1em;
            color: #d3d3d3;
            background-color: $main-darker-color;
            &::placeholder {
                color: $placeholder-color;
            }
        }

        .options{
            display: flex;
            justify-content: space-between;
        }

        form{
            max-width: 22em;
            width: 80%;
            margin: 2.5em auto;
        }

        img{
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
        }

        h2{
            margin: 0;
            font-size: 2.2rem;
            text-align: center;
            background-color: $main-darker-color;
            padding: 0.5em 0;
        }

        a{
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        label{
            display: block;
            margin-bottom: 0.2em;
            font-size: 1.5rem;
        }

        .submit{
            width: 100%;
            display: flex;
            margin-top: 5em;
            padding: 0.7em;
            border-radius: 1.8em;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            font-size: 1.3rem;
            cursor: pointer;
            color: white;
            background-color: $secondary-color;
        }
    }
}




