@import "colors.scss";


main{
    width: 80%;
    display: flex;
    margin: auto;

    section{
        width: 50%;
        padding: 0;

        h2{
            background-color: $main-darker-color;
            padding: 0.5em 0;
        }

        form{
            max-width: 22em;
            width: 80%;
            margin: 2.5em auto;

            label{
                display: block;
                margin-bottom: 0.2em;
                font-size: 1.5rem;
            }

            .login, .pass{
                width: 100%;
                display: block;
                margin-bottom: 2em;
                padding: 0.4em 0.7em;
                border-radius: 1em;
                font-size: 1.1rem;
                color: #d3d3d3;
                background-color: $main-darker-color;
                &::placeholder {
                    color: $placeholder-color;
                }
            }

            .options{
                display: flex;
                justify-content: space-between;
            }

            a{
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }

            .submit{
                margin-top: 5em;
                padding: 0.7em;
                border-radius: 1.8em;
                text-align: center;
                font-size: 1.3rem;
                cursor: pointer;
                color: white;
                background-color: $secondary-color;
            }
        }

        img{
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}




