@import 'colors.scss';


nav{
    $nav-height: 8vh;

    display: flex;
    position: relative;
    z-index: 9;
    height: $nav-height;
    margin-bottom: $nav-height + 1vh;
    justify-content: space-around;
    background-color: $main-dark-color;
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: transparent;
        content: "";
        box-shadow: 3px 8px 10px 0px #{$main-dark-color};
    }

    >div{
        width: 15%;
        height: 100%;
        position: relative;
        justify-content: center;
        z-index: 99;

        &.logo{
            .img-background {
                position: absolute;
                z-index: 999;
                top: 100%;
                left: 50%;
                width: $nav-height * 2;
                height: $nav-height;
                transform: translateX(-50%);
                border-bottom-left-radius: $nav-height * 2;
                border-bottom-right-radius: $nav-height * 2;
                background-color: #{$main-dark-color};
                box-shadow: 0px 8px 10px 0px #{$main-dark-color};
            }
            img {
                z-index: 9999;
            }
        }

        span, img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: ease-in-out 0.4s;
            &:hover{
                // Could be useless if link will be used;
                cursor: pointer;
            }
        }

        span{
            margin: auto;
            font-size: 3vh;
            &:hover{
                font-size: 3.6vh;
            }
        }

        img{
            position: absolute;
            top: 100%;
            height: 120%;
            margin: auto;
            &:hover{
                height: 140%;
            }
        }

        .underline{
            width: 100%;
            transform: scaleX(0);
            position: absolute;
            transition: transform ease-in-out 0.4s;
            &.nav-animation{
                transform: scaleX(1);
                bottom: 0;
                height: 2px;
                background: white;
            }
        }
    }
}
