@import 'colors.scss';


nav{
    $nav-height: 8vh;

    display: flex;
    position: relative;
    height: $nav-height;
    margin-bottom: calc(#{$nav-height} + 4vh);
    justify-content: space-around;
    background-color: $main-dark-color;
    box-shadow: 3px 8px 10px 0px #{$main-dark-color};

    >div{
        width: 15%;
        height: 100%;
        position: relative;
        justify-content: center;

        &.logo{
            .img-background {
                position: absolute;
                top: 100%;
                left: 50%;
                width: $nav-height * 2;
                height: $nav-height;
                transform: translateX(-50%);
                border-bottom-left-radius: $nav-height * 2;
                border-bottom-right-radius: $nav-height * 2;
                background-color: #{$main-dark-color};
                box-shadow: 0px 8px 10px 0px #{$main-dark-color};
            }

            a {
                top: 100%;
                height: 120%;
                &:hover{
                    height: 140%;
                }

                img {
                    height: 100%;
                }
            }
        }

        a{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: auto;
            transform: translate(-50%, -50%);
            transition: font-size ease-in-out 0.4s, height ease-in-out 0.4s;
            font-size: 3vh;
            text-decoration: none;
        }

        .underline{
            width: 100%;
            transform: scaleX(0);
            position: absolute;
            transition: transform ease-in-out 0.4s;
            &.nav-animation{
                transform: scaleX(1);
                bottom: 0;
                height: 2px;
                background: white;
            }
        }
    }
}
