{# Search page template extending 'base.j2' template #}

{% extends 'base.j2' %}

{# Here put any page specific css styling #}
{% block page_specific_styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.scss.css') }}">
{% endblock page_specific_styling %}

{# Here put page content #}
{% block content %}
<main>
</main>
{% endblock content %}

{# Here put page specific scripts #}
{% block page_specific_scripts %}
{% endblock page_specific_scripts %}
