{# Navigation template #}
<nav>
    <div class="opt">
        <span>Home</span>
        <div class="underline"></div>
    </div>

    <div class="opt">
        <span>Genres</span>
        <div class="underline"></div>
    </div>

    <div class="logo">
        <img src="{{url_for('static', filename='img/logo.svg')}}">
        <div class="img-background"></div>
    </div>

    <div class="opt">
        <span>Search</span>
        <div class="underline"></div>
    </div>

    <div class="opt">
        <span>Log In</span>
        <div class="underline"></div>
    </div>
</nav>
