{# Navigation template #}
<nav>
    <div class="opt">
        <a class="" href="{{ url_for('home.home') }}">Home</a>
        <div class="underline"></div>
    </div>

    <div class="opt">
        <a href="">Genres</a>
        <div class="underline"></div>
    </div>

    <div class="logo">
        <div class="img-background"></div>
        <a href="{{url_for('home.home')}}">
            <img src="{{url_for('static', filename='img/logo.svg')}}">
        </a>
    </div>

    <div class="opt">
        <a href="{{ url_for('search.search_page') }}">Search</a>
        <div class="underline"></div>
    </div>

    <div class="opt">
        <a href="">Log In</a>
        <div class="underline"></div>
    </div>
</nav>
