{# Navigation template #}
<nav>
    <div class="opt1">
        <span>Home</span>
    </div>

    <div class="opt2">
        <span>Genres</span>
    </div>

    <div class="logo">
        <img src="{{url_for('static', filename='img/logo.png')}}">
    </div>

    <div class="opt3">
        <span>Placeholder</span>
    </div>

    <div class="opt4">
        <span>Log In</span>
    </div>
</nav>
